{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block default_tile %} Register for new user {% endblock default_tile %}

{% block content %}
	<div>
      <form method="POST">
         {% csrf_token %}
         <fieldset>
            <legend>Log in to continue</legend>
            {{ form|crispy }}
         </fieldset>
         <div>
            <button class="btn btn-outline-info" type="submit"> Login</button>
         </div>
      </form>
      <div>
         <small>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></small>
      </div>
   </div>
{% endblock content %}